body{
	background-color: #f1f1f1;
}
.top-image {
	width: 100%;
}
.main-image{
	
	opacity: 0.8;
}
.parallax{
	margin-bottom: 35px;
	background: black;
}
.parallax img{
	opacity: 1;
}
nav{
	position: fixed;
	top: 0;
	width: 100%;
	border-radius: 0px;
	padding: 0px 15px;
	background-color: #27223e;
	color: white !important;
	z-index: 1000;
}

nav ul a{
	color: white;
}

nav a{
	color: white;
}
a:hover{
	opacity: 0.8;
}
.prof-members-page a{
	color: #47425e;
}
.prof-members-page p{
	font-size: 16px;
}
.navbar-brand{
	font-size: 20px;
}

.area-title{
	font-size: 23px;
	padding-bottom: 15px;
}

.area-title-list{
	line-height: 2;
	letter-spacing: 0.8px;
	font-size: 16px;
	color: #444444;

}
.research-students-image{
	padding-top: 20px;
}

.research-students-name
{
	padding-top: 10px;
	font-weight: 500;
	font-size: 25px;
	padding-bottom: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}
.research-students-title{
	font-size:18px;
	padding-bottom: 10px;
}

.research-students-project a{
	color: black;
	font-size: 16px;
}

.research-students-email{
	padding-top: 10px;
	margin-top: 6px; 	
}

hr{
	margin:30px 70px;
}

.collapsible-header a{
	font-size: 18px;
	padding: 0px 10px;
	color: #17122e;
} 

.collapsible-body p{
	font-size: 15px;
	padding-bottom: 5px; 
	color: #100528; 

}
.collapsible-body img{
	padding: 15px;
	height: 175px;
	
}
.collapsible-body{
	overflow: hidden;
}

.collapsible-body-author{
	padding-right: 4%; 
}

.journal-heading{
	font-size: 28px;
	padding-top: 10px;
}
.journal-list li{
	font-size: 15px;
	line-height: 1.6;
	padding-top: 10px;
}
.journal-conference{
	margin: 30px 12%;
	color: #aaa;
}
.contact-add-leftpara{
	line-height: 2.2;
	letter-spacing: 0.8px;
	font-size: 16px;
	color: #666666;
}
.contact-add-para{
	line-height: 1.8;
	letter-spacing: 0.8px;
	font-size: 16px;
	color: #444444;	
}

#map {
        width: 80%;
        height: 400px;
        background-color: grey;
        margin-top: 30px;
        margin-left: 10px;
      }
.indicator-item{
	visibility: hidden !important;
}
.carousel{
	margin-left: auto;
	max-width: 250px;
	max-height: 250px;
}
.gallery-work{

}
.gallery-work img{
	margin: 0px;
	padding:0px;
	width: 100%; 
}
.gallery-header a{
	color: #1a1a00;
}

footer.page-footer{
	color: white !important;
	background-color: #27223e;
}
footer.page-footer .footer-copyright{
	color: white !important;
	background-color: #201538;
}

